[submodule "services/hydra_login2f"]
	path = services/hydra_login2f
	url = git@github.com:epandurski/hydra_login2f.git
[submodule "services/swpt_accounts"]
	path = services/swpt_accounts
	url = git@github.com:epandurski/swpt_accounts.git
[submodule "services/swpt_debtors"]
	path = services/swpt_debtors
	url = git@github.com:epandurski/swpt_debtors.git
[submodule "services/swpt_creditors"]
	path = services/swpt_creditors
	url = git@github.com:epandurski/swpt_creditors.git
