{% extends "layout.html" %}
{% block content %}
  <h1>Sign Up</h1>
  <p>
    <form action="" method="POST">
      <p>
        <label for="email">Email</label>
        <input id="email"
               name="email"
               type="email"
               value="{{request.form.get('email', '')}}"
               placeholder="Enter your email"
               maxlength="254"
               required
               >
      </p>
      <p>
        <label for="password">Password</label>
        <input id="password"
               name="password"
               type="password"
               placeholder="{{config.PASSWORD_MIN_LENGTH}} characters at least"
               maxlength="{{config.PASSWORD_MAX_LENGTH}}"
               required
               >
      </p>
      <p>
        <label for="confirm">Re-type Password</label>
        <input id="confirm"
               name="confirm"
               type="password"
               placeholder="Enter the password again"
               maxlength="{{config.PASSWORD_MAX_LENGTH}}"
               required
               >
      </p>
      <p>
        <input type="submit" value="Submit">
      </p>
    </form>
  </p>
{% endblock %}
