[[source]]
url = "https://github.com/epandurski/swaptacular"
verify_ssl = true
name = "swaptacular_agent"

[dev-packages]

[packages]
"psycopg2" = "*"
sqlalchemy = "*"
flask = "*"
pudb = "*"

[requires]
python_version = "2.7"
