[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pudb = "*"

[packages]
flask-env = "*"
flask-babel = "*"
flask-migrate = "*"
"psycopg2" = "*"
redis = "*"
flask-mail = "*"
requests = "*"
user-agents = "*"

[requires]
python_version = "3.5"
