[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pudb = "*"

[packages]
flask = "*"
flask-env = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
"psycopg2" = "*"

[requires]
python_version = "3.5"
