{% extends "layout.html" %}
{% block content %}
  <div id="choose-password-dialog">
    <h1>{% trans %}Choose Password{% endtrans %}</h1>
    <div id="choose-password-form">
      <form action="" method="POST">
        {% if require_recovery_code %}
        <p>
          <label for="recovery_code">{% trans %}Recovery Code{% endtrans %}</label>
          <input id="recovery_code"
                 name="recovery_code"
                 type="text"
                 value="{{request.form.get('recovery_code', '')}}"
                 placeholder="{% trans %}Enter your recovery code{% endtrans %}"
                 maxlength="254"
                 required
                 >
        </p>
        {% endif %}
        <p>
          <label for="password">{% trans %}Password{% endtrans %}</label>
          <input id="password"
                 name="password"
                 type="password"
                 placeholder="{% trans num=config.PASSWORD_MIN_LENGTH %}{{num}} characters at least{% endtrans %}"
                 maxlength="{{config.PASSWORD_MAX_LENGTH}}"
                 required
                 >
        </p>
        <p>
          <label for="confirm">{% trans %}Re-type Password{% endtrans %}</label>
          <input id="confirm"
                 name="confirm"
                 type="password"
                 placeholder="{% trans %}Enter the password again{% endtrans %}"
                 maxlength="{{config.PASSWORD_MAX_LENGTH}}"
                 required
                 >
        </p>
        {% if config.USE_RECOVERY_CODE %}
          <p>
            {% trans %}
              It is highly recommended that the password you choose
              here is different from the password on your email
              account!
            {% endtrans %}
          </p>
        {% endif %}
        <p>
          <input type="submit" value="{% trans %}Submit{% endtrans %}">
        </p>
      </form>
    </div>
  </div>
{% endblock %}
