{% extends "layout.html" %}
{% block content %}
  <div id="vcode-dialog">
    <h1>{% trans %}Email Verification{% endtrans %}</h1>
    <div id="vcode-form">
      <form action="" method="POST">
        <p>
          {% trans %}
            An email has been sent to you. Please check your inbox,
            and enter the verification code provided there.
          {% endtrans %}
        </p>
        <p>
          <label for="verification_code">{% trans %}Verification Code{% endtrans %}</label>
          <input id="verification_code"
                 name="verification_code"
                 type="text"
                 value="{{request.form.get('verification_code', '')}}"
                 placeholder="{% trans %}Enter the verification code{% endtrans %}"
                 maxlength="254"
                 required
                 >
        </p>
        <p>
          <input type="submit" value="{% trans %}Log In{% endtrans %}">
        </p>
        <p>
          <a href="{{url_for('choose_new_email', secret=computer_code)}}">{% trans %}Lost access to your email?{% endtrans %}</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
