<!doctype html>
<html>
  <head>
    {% block head %}
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="{{config['STYLE_URL'] or url_for('serve_static', filename='style.css')}}">
    <title>{% block title %}{{config['SITE_TITLE']}}{% endblock %}</title>
    {% endblock head %}
  </head>
  <body>
    {% with locale_code = get_locale()|string, languages=config['SUPPORTED_LANGUAGES'] %}
      <ul class="languages">
        {% for code, language in languages.items() %}
          {% if code != locale_code %}
            <li><a href="{{url_for('set_language', lang=code, to=request.url)}}">{{language}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endwith %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{message}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2018 by <a href="https://github.com/epandurski">Evgeni Pandurski</a>.
      {% endblock footer %}
    </div>
  </body>
</html>
