{% extends "message.html" %}

{% block message %}
  <p>
    {% trans email='<strong>{}</strong>'.format(email)|safe %}
      An email has been sent to {{email}}. Please check your inbox,
      and click on the link provided there.
    {% endtrans %}
  </p>
  {% with login_challenge=request.args.login_challenge %}
    {% if login_challenge %}
      <p>
        <a class="login-link" href="{{url_for('login', login_challenge=login_challenge)}}">{% trans %}Go to login page{% endtrans %}</a>
      </p>
    {% endif %}
  {% endwith %}
{% endblock message %}
