{% extends "layout.html" %}
{% block content %}
  <div id="signup-sent-email">
    <p>{% trans email=email %}A confirmation email has been sent to <b>{{email}}</b>.{% endtrans %}</p>
    <p>{% trans %}Check your email messages, and click on the link provided there.{% endtrans %}</p>
    {% with login_challenge=request.args.login_challenge %}
      {% if login_challenge %}
        <p><a href="{{url_for('login', login_challenge=login_challenge)}}">Go to login page</a></p>
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}
